<h1 class="page-header">{{title}}</h1>
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
    <a  ng-repeat="item in subjects" href="#/detail/{{item.id}}" class="list-group-item ">
        <span class="badge">{{item.rating.average}}</span>
        <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src="{{item.images.small}}" alt="{{item.title}}">
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{item.title}}</h2>
                <p>导演：
                    <span ng-repeat="d in item.directors">{{d.name}}
                        <span ng-if="!$last">、</span>
                    </span>
                </p>
                <p>类型：<span>{{item.genres.join('、')}}</span></p>
            </div>
        </div>
    </a>

</div>


<div class="mask"ng-show="lodind">

    <div class="spinner" >
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>



</div>
<div ng-show="!lodind"><!--没有加载我们就显示-->

    <p>总数：{{totalCount}}条 当前{{currentpage}}页 共{{pagetotal}}页</p>
    <nav aria-label="...">
        <ul class="pager">
            <li ng-class="{disabled:currentpage<=1}"><a ng-click="go(currentpage -1)">上一页</a></li>
            <li ng-class="{disabled:currentpage>=pagetotal}"><a ng-click="go(currentpage +1)">下一页</a></li>
        </ul>
    </nav>
</div>